:root{
  --medium-size: 15px;
  --large-size: 28px;
  --xx-large-size: clamp(20px, 2vw, 38px);
  --subheading-gray: #9BA1AE;
  --main-color: #0F1C35;
  --secondary-color: #f5f4f9;
  --contrast-blue: #443DF6
}

html{
}

body {
  margin: 0;
  font-family: 'Manrope', sans-serif;
}

#root > div{
  width: 100%;
  min-height: 100vh;
}

button:hover{
  cursor: pointer;
}
